<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>The Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="vendor/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="login-container" class="login-container">
      <div class="login-segment ui segment">
        <form method="post" class="ui form">
          <div class="field">
            <label>User name</label>
            <input id="name-input" type="text" name="username" placeholder="User name">
          </div>
          <div id="room-field" class="field">
            <label>Room name</label>
            <input id="room-input" type="text" name="room" placeholder="Room name">
          </div>
          <button id="join" class="ui button" type="submit">Submit</button>
        </form>
        <a id="mobile-join" class="ui button">Connect</a>
      </div>
    </div>
    <script src="dist/index-bundle.js"></script>
  </body>
</html>