html{
  height:100%;
  overflow-y: hidden;
}
body{
  margin: 0;
  height:100%;
}
.unvisible {
  display: none;
}
.container:after{
  content: '';
  display: table;
  clear: both;

  display: none;
}
.container > div{
  float: left;
  height: 50vh;
}
.half{
  width: 50%;
}
.full{
  background-color:#FFF;
  width: 100%;
}
.button{
  background-color:#FFF;
}
.touched {
  opacity: 0.5;
  background-color: blue;
}
.login-container {
  position: relative;
  top: 20%;
  left: 25%;
}
.login-segment {
  width: 50%;
  top: 25%;
}
.qrcode img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
}
#info-players {
  min-width: 10%;
  min-height: 10%;
  position: fixed;
  top: 2%;
  right: 2%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}
ul {
  padding-left: 3%;
  list-style: none;
  padding: 0;
  padding-bottom: 2%;
  margin: 0;
}
.chat-box {
  position: absolute;
  opacity: 0.6;
  top: calc(100% - 250px);
  left: 2%;
  width: 300px;

}
.chat-input {
  margin-bottom: 5px;
  width: 87%;
}
.menu {
  position: absolute;
  display: none;
}
textarea {
  resize: none;
  outline: none;
}
.chat-button{
  width:87%;
  margin-right: 1%;
}
.score {
  float: right;
  margin-right: 5px;
}
.player {
  display:inline;
  margin: 0 5px 0 5px;
}
#mobile-join {
  display: none;
}
#instructions {
  display: inline;
  text-align: center;
}
#start-game {
  display: none;
  margin: auto;
  width: 100%;
}
#you-are-connected {
  padding-bottom: 10px;
  text-align: center;
  display: none;
}
#pad-container {
  display: none;
}
#connected-container {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #mobile-join {
    display: block;
    margin: auto;
  }
  #join {
    display: none;
  }
  #room-field {
    display: none;
  }
}