html{
  height:100%;
  overflow-y: hidden;
}
body{
  margin: 0;
  height:100%;
}
.unvisible {
  display: none;
}
.container:after{
  content: '';
  display: table;
  clear: both;

  display: none;
}
.container > div{
  float: left;
  height: 50vh;
}
.half{
  width: 50%;
}
.full{
  background-color:#FFF;
  width: 100%;
}
.button{
  background-color:#FFF;
}
.touched {
  opacity: 0.5;
  background-color: blue;
}
.login-container {
  position: relative;
  top: 20%;
  left: 35%;
}
.login-segment {
  width: 30%;
  top: 25%;
}
.qrcode img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
}
#info-players {
  min-width: 10%;
  min-height: 10%;
  position: fixed;
  top: 2%;
  right: 2%;
  background-color: #ffffff;
  border: 1px solid  rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  border-radius: 10px;
  box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.3);
}
ul {
  padding-left: 3%;
  list-style: none;
  padding: 0;
  padding-bottom: 2%;
  margin: 0;
}
.chat-box {
  position: absolute;
  opacity: 0.85;
  top: calc(100% - 270px);
  left: 2%;
  width: 300px;
  
}
.chat-input {
  margin-bottom: 5px;
  width: 87%;
  box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.3);
  border: 1px solid  rgba(0, 0, 0, 0.3);
  padding: 4px;
}
.menu {
  position: absolute;
  display: none;
}
textarea {
  color: rgba(0,0,0,0.7);
  resize: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.3);
  border: 1px solid  rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2px;
  padding-top: 10px;
}
.chat-button{
  width:87%;
  margin-right: 1%;
  box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.3);
  border: 1px solid  rgba(0, 0, 0, 0.3);
  background-color: white;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(0,0,0,0.8);
  padding: 4px;
}
.score {
  float: right;
  margin-right: 5px;
}
.player {
  display:inline;
  margin: 0 5px 0 5px;
}
#mobile-join {
  display: none;
}
#instructions {
  display: inline;
  text-align: center;
}
#start-game {
  display: none;
  margin: auto;
  width: 100%;
}
#you-are-connected {
  padding-bottom: 10px;
  text-align: center;
  display: none;
}
#pad-container {
  display: none;
}
#connected-container {
  text-align: center;
}
#match-score {
  width: 10%;
  font-size: 4em;
  margin-top: 0.5em;
  position: fixed;
  right: 45%;
  left: 45%;
  padding: 20px;
  border: 1px solid  rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 0.6;
  box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.3);
}
#blue-score {
  display: inline-block;
  width: 50%;
  color: #caff70
}
#red-score {
  color: #ff5964;
  float: right
}
@media only screen and (max-width: 600px) {
  #mobile-join {
    display: block;
    margin: auto;
  }
  #join {
    display: none;
  }
  #room-field {
    display: none;
  }
}